.plastic/plastic.wktree filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Editor/network_request.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_4_0.zip filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_5_0.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.dll filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.5.0/firebase-app-unity-12.5.0.srcaar filter=lfs diff=lfs merge=lfs -text
Assets/GeneratedLocalRepo/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.5.0/firebase-app-unity-12.5.0.aar filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/iOS/Firebase/libFirebaseCppApp.a filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/iOS/Firebase/libFirebaseCppAuth.a filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/iOS/Firebase/libFirebaseCppDatabase.a filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/iOS/Firebase/libFirebaseCppFirestore.a filter=lfs diff=lfs merge=lfs -text
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Audio/Tracks/In[[:space:]]Match[[:space:]]Music.wav filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Audio/Tracks/Menu[[:space:]]Music.wav filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/0_B_0014.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/0_G_785_001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/0_L_B78D_002.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/0_glowwhite2_alpha22.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/24444444444.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/453Ring_14_001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/453Rune_30_001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/453Rune_30_001_w.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.3/Texture/53_Ring_57_001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/025_0.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_0234.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_1134.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_45o_4x411.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_78_001_zw.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_80045n001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_B0082.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_B010051.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_B_003_kgh2.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_B_0062.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_H_F45SG_002.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_H_G45D_004.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_L_F4545Z_024.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_L_F45Z_007.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_M452.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_N_45_015.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_Q_78_001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_W11L_010.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_Z78_02.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_dc_glow_02.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_dc_light_002.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_dc_ripple_01.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_g45_0014.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_glow_00037g.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_glow_00159_xc.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_rwjq.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_rwjq_1.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_rwjq_2.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_rwjq_3.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_rwjq_4.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/0_y78_04.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/4520Flare_26_001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/45Flare_02_001.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/45_02.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/53_Rune_83_001_j.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/effect_light_67.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Mountain[[:space:]]VFX[[:space:]]Studio/UI[[:space:]]VFX[[:space:]]Package[[:space:]]Vol.4/Texture/fs_m_78143.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Witchcraft[[:space:]]VFX/Anim/Anim_42.anim filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Witchcraft[[:space:]]VFX/Prefabs/Witchcraft/Skill_48_Cast.prefab filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Witchcraft[[:space:]]VFX/Prefabs/Witchcraft/Skill_76_Hit.prefab filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Effects/VFX/Witchcraft[[:space:]]VFX/Textures/Tex_633.tga filter=lfs diff=lfs merge=lfs -text
Assets/_Game/GUI/Hero_Unlock_Background.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Home[[:space:]]background.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-CasualGame/ResourcesData/Fonts/LilitaOne-Regular[[:space:]]Outline[[:space:]]210[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-CasualGame/ResourcesData/Fonts/LilitaOne-Regular[[:space:]]Outline_Extended[[:space:]]ASCII_120[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-CasualGame/ResourcesData/Fonts/LilitaOne-Regular[[:space:]]Outline_Extended[[:space:]]ASCII_210[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-CasualGame/ResourcesData/Fonts/LilitaOne-Regular[[:space:]]Outline_Extended[[:space:]]ASCII_72[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-CasualGame/Scenes/DemoScene_(v3.0).unity filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-FantasyRPG/ResourcesData/Fonts/Alata-Regular-Outline[[:space:]]120[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-FantasyRPG/ResourcesData/Fonts/Alata-Regular-Outline[[:space:]]210[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-FantasyRPG/ResourcesData/Fonts/Alata-Regular-Outline[[:space:]]64[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-FantasyRPG/ResourcesData/Fonts/Alata-Regular-Outline[[:space:]]72[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Graphics/Layer[[:space:]]Lab/GUI[[:space:]]Pro-FantasyRPG/Scenes/DemoScene_(v2.0).unity filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Dwarf/Attack/ATTACK.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Dwarf/Hurt/HURT.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Dwarf/Idle/IDLE1.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Dwarf/Idle/IDLE2.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Elf/Attack/Attack.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Elf/Hurt/Hurt.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Elf/Idle/Idle.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Orc/Attack/Attack_Sprite.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Orc/Hurt/Hurt_Sprite.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Orc/Idle/Idle_Sprite.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Troll2/Attack/Sprite_Attack.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Troll2/Hurt/Sprite_Hurt.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Mobs/Mob[[:space:]]Sprites/Troll2/Idle/Sprite_Idle.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Player/HeroSprites/Custos[[:space:]]Goblet[[:space:]]Slow.gif filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/ShopGems.prefab filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/WorldMap/StagePreviews/Extra[[:space:]]10.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/WorldMap/StagePreviews/Extra[[:space:]]13.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/WorldMap/StagePreviews/Extra[[:space:]]14.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/WorldMap/StagePreviews/Extra[[:space:]]19.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/WorldMap/StagePreviews/Extra[[:space:]]20.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/WorldMap/StagePreviews/Extra[[:space:]]21.png filter=lfs diff=lfs merge=lfs -text
Assets/_Game/Scenes/Screens/WorldMap/StagePreviews/Extra[[:space:]]8.png filter=lfs diff=lfs merge=lfs -text
